<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>CustomerRef\CustomerRef</fullnamespace>
    <descriptive locale="en_US">
        <title>Manage customer ref</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Gestion des numéros de client</title>
    </descriptive>
    <version>0.1</version>
    <author>
        <name>Zzuutt</name>
        <email></email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
